@use "vars/colors";
@use "vars/spacing";

.body-section {
    padding-bottom: spacing.$spacing-m;
    position: relative;

    &--secondary {
        background-color: colors.$color-secondary;
    }

    &::before{
        content: "";
        border: 20px solid colors.$color-secondary;
        border-left: 20px solid transparent;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
        display: block;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
    }
}
