@use "vars/colors";
@use "vars/spacing";

.form {
    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__text-input{
        width: 100%;
        padding: spacing.$spacing;
    }

    &__textarea{
        width: 100%;
        min-height: 150px;
        padding: spacing.$spacing;
    }

    &__label-text{
        display: block;
        margin-bottom: spacing.$spacing-s;
    }
}



