@use "vars/spacing";
@use "vars/colors";

.header{

    width: 100%;
    padding: spacing.$spacing-m;
    display: flex;
    justify-content: center;
    background-color: colors.$color-primary;
    position: relative;

    &::after{
        content: "";
        border: 20px solid colors.$color-primary;
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        display: block;
        position: absolute;
        bottom: -40px;
    }

    &__logo{
        width: 100px;
    }

}