@use "vars/spacing";

.hero {
    padding-top: spacing.$spacing-m;
    padding-bottom: spacing.$spacing-m;
    position: relative;
    z-index: 10;

    &::after{
        content: "";
        border: 20px solid #fff;
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        display: block;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%);
    }

    &__logo {
        width: 100%;
        max-width: 125px;
    }

    &__text{
        &--center{
            text-align: center;
        }
    }
}
