@use "vars/colors";
@use "vars/spacing";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


.page-grid {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(0, 650px) minmax(20px, 1fr);
    &__content {
        grid-column: 2;
    }
}

.two-col-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: spacing.$spacing;

    &__item {
        &--single{

        }

        &--double{
            grid-column-start: 1;
            grid-column-end: 3;
            @media (max-width:768px){
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }

    @media (max-width:768px){
        grid-template-columns: 100%;
    }
}
