.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.product-card {
    position: relative;
    &__image {
        padding-top: 100%;
        background-size: cover;
        background-position: center;
    }
}

