@use "vars/colors";
@use "vars/typography";
@use "vars/spacing";

body {
    font-family: 'Barlow', sans-serif;
    color: colors.$text-dark;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Barlow', sans-serif;
}

a{
    color: colors.$text-dark;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Barlow', sans-serif;
    line-height: 1.2;
    font-weight: 100;
    margin-top: spacing.$spacing;
    margin-bottom: spacing.$spacing;
}

.h1 {
    font-size: typography.$text-size-h1; 
    font-weight: 100;
    margin-top: spacing.$spacing-m;
    margin-bottom: spacing.$spacing-m;
}
.h2 {
    font-size: typography.$text-size-h2; 
    font-weight: 100;
    margin-top: spacing.$spacing-m;
    margin-bottom: spacing.$spacing-m;
}
.h3 {
    font-size: typography.$text-size-h3; 
    font-weight: 400;
    margin-top: spacing.$spacing-m;
    margin-bottom: spacing.$spacing-m;
}
.h4 {
    font-size: typography.$text-size-h4;
    font-weight: 400; 
    margin-top: spacing.$spacing-m;
    margin-bottom: spacing.$spacing-m;
}
.h5 {
    font-size: typography.$text-size-h5; 
    font-weight: 400;
    margin-top: spacing.$spacing-m;
    margin-bottom: spacing.$spacing-m;
}

.p1 {
    font-size: typography.$text-size-p1;
    font-weight: 400;
}

.p2 {
    font-size: typography.$text-size-p2;
    font-weight: 400;
}

.p3 {
    font-size: typography.$text-size-p3;
    font-weight: 400;
}





