* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.page-grid {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(0, 650px) minmax(20px, 1fr);
}
.page-grid__content {
  grid-column: 2;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 8px;
}
.two-col-grid__item--double {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 768px) {
  .two-col-grid__item--double {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media (max-width: 768px) {
  .two-col-grid {
    grid-template-columns: 100%;
  }
}

body {
  font-family: "Barlow", sans-serif;
  color: #36313C;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Barlow", sans-serif;
}

a {
  color: #36313C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", sans-serif;
  line-height: 1.2;
  font-weight: 100;
  margin-top: 8px;
  margin-bottom: 8px;
}

.h1 {
  font-size: 3.052rem;
  font-weight: 100;
  margin-top: 16px;
  margin-bottom: 16px;
}

.h2 {
  font-size: 2.441rem;
  font-weight: 100;
  margin-top: 16px;
  margin-bottom: 16px;
}

.h3 {
  font-size: 1.953rem;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}

.h4 {
  font-size: 1.563rem;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}

.h5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}

.p1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.p2 {
  font-size: 1rem;
  font-weight: 400;
}

.p3 {
  font-size: 0.8rem;
  font-weight: 400;
}

.btn {
  padding: 8px;
  font-size: 1rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__text-input {
  width: 100%;
  padding: 8px;
}
.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 8px;
}
.form__label-text {
  display: block;
  margin-bottom: 4px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  color: #fff;
}

.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  background-color: #AA9AB9;
  position: relative;
}
.header::after {
  content: "";
  border: 20px solid #AA9AB9;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  display: block;
  position: absolute;
  bottom: -40px;
}
.header__logo {
  width: 100px;
}

.body-section {
  padding-bottom: 16px;
  position: relative;
}
.body-section--secondary {
  background-color: #F79324;
}
.body-section::before {
  content: "";
  border: 20px solid #F79324;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.hero {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  z-index: 10;
}
.hero::after {
  content: "";
  border: 20px solid #fff;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  display: block;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%);
}
.hero__logo {
  width: 100%;
  max-width: 125px;
}
.hero__text--center {
  text-align: center;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card {
  position: relative;
}
.product-card__image {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.contact-form__heading {
  text-align: center;
}

/*# sourceMappingURL=base.css.map */
